/* ================================= */
/* FONTS */
/* ================================= */
@font-face {
	font-family: "SourceSansPro-Regular";
	src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "SourceSansPro-SemiBold";
	src: url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

/* ================================= */
/* MAIN STYLES */
/* ================================= */
body {
	font-size: 17px;
	font-family: "SourceSansPro-Regular";
	background-color: #f5f5f5;
}

h1 {
	font-family: "SourceSansPro-SemiBold";
	margin: 1em auto;
	text-align: center;
}

p {
	font-family: "SourceSansPro-Regular";
}

.img-cover {
	vertical-align: middle;
	border-style: none;
	object-fit: cover;
	width: 100%;
	height: 275px;
}

.app-container {
	padding: 15px;
}

/* ================================= */
/* SOME CLASSES*/
/* ================================= */
.blue-text {
	color: #007bff;
}