.product {
	padding: 15px;
	margin: 15px 0;
	background: white;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.product-address {
	line-height: 1;
	margin: 5px 0 10px;
	height: 37px;
	overflow: hidden;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}